@{
    ViewData["Title"] = "AboutUs";
    Layout = "/Views/Shared/HomeLayout.cshtml";
}

<script src="~/js/Article.js"></script>
<script>
    var owner = null;
    var count = 0, pageCount = 0, page = 1, rows = 6;
    var id = "", ty = "",owner="";
    $(function () {
      id = GetUrlParam("id");
      ty = decodeURI(GetUrlParam("cate"));
      owner = "all";
      Fresh();
    });
    function Fresh() {
        GetPageInfo(id);
        blogList(id, owner);
    }
    function TopPage() {
        page--;
        if (page <= 0)
            page = 1;
        Fresh(id);
    }
    function NextPage() {
        page++;
        if (page >= pageCount)
            page = pageCount;
        Fresh(id);
    }
</script>
<style>
    .aclass {
        color: blue;
        text-decoration: underline;
    }
</style>
<h2 style="font-size:15px;text-align:left" id="topInfo"><span></span>当前位置:首页 > 技术分享</h2>
<div>
    <div id="blogList">
      
    </div>

    <div id="page" style=" font-size:14px;cursor:pointer;text-align:center;font-stretch:expanded;color:orange;" class="pager">
        <br />
        <br />
        <label id="pageInfo" style="color:black">共20条数据,每页条10数据,共2页,当前第1页</label>
        <a class="aclass" onclick="TopPage()">上一页</a>
        <a class="aclass" onclick="NextPage()">下一页</a>
    </div>
</div>