@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/HomeLayout.cshtml";
}
<script src="~/js/HomeIndex.js"></script>
<div style="margin-bottom:10px">
    <h2><span></span><b>文章</b>推荐</h2>
    <div id="contents">   
    </div>
</div>